body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.assets-head1 {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    color: #333;
}

.assets-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Styles for search bar */
.assets-search {
    top: 20px;
    right: 20px; 
    width: 250px; 
    padding: 10px 15px; 
    margin-left: 100px;
    border-radius: 25px;
    border: 1px solid #0def1c; 
    outline: none; 
    font-size: 16px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    z-index: 1;
}

.assets-search:focus {
    border-color: #df2b0b; 
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3); /* Shadow effect on focus */
}

/* Individual vehicle details container */
.assets-vehicle-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px;
    width: 350px;
    transition: transform 0.2s ease-in-out;
    justify-content: center;
}

.assets-vehicle-item:hover {
    transform: scale(1.05);
}

.assets-vehicle-item h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.assets-vehicle-item p {
    color: #555;
    font-size: 14px;
    line-height: 2.9;
}

/* Style for buttons */
.assets-btn-update, .assets-btn-delete {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 10px;
    width: 100px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.assets-btn-add {
    background-color: #f46157;
    display: block;
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: auto;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.assets-btn-pdf {
    background-color: #f46157;
    display: block;
    padding: 10px 20px;
    margin-top: -40px;
    margin-left: 190px;
    margin-right: auto;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    width: fit-content;
}

/* Update button specific styles */
.assets-btn-update {
    background-color: #4CAF50;
    border: none;
}

.assets-btn-update:hover {
    background-color: #45a049;
}

.assets-btn-delete {
    background-color: #f44336; 
    border: none;
}

.assets-btn-delete:hover {
    background-color: #d32f2f;
}

@media (max-width: 768px) {
    .assets-vehicle-item {
        width: 90%;
    }
}

.printonly-assets{
    display: none; 
}

/* PDF */
@media print {
    
    .printonly-assets{
        display: none; 
    }
    
    .display {
        display: none; 
    }

    .printonly-assets{
        display: block; 
    }

    /* Print header */
    .print-header-assets{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center; 
        margin: 0;
        padding: 20px 0; 
        z-index: 10;
        background-color: white; 
    }
    
    .company-logo-assets{
        margin: 0 auto; 
        display: block; 
    }
    
    .header-text-assets{
        display: inline-block; 
        vertical-align: middle; 
        text-align: center; 
    }
   
    .header-text-assets h1, .header-text-assets h3 {
        margin: 0; 
    }

   
    .header-text-assets h1 {
        margin-bottom: 5px; 
    }

    body {
        padding-top: 250px; 
    }

    
    .vehicle-table-assets {
        width: 100%;
        border-collapse: collapse;
        margin: 50px 0;
        margin-top: 350px;
    }

    .vehicle-table th, .vehicle-table-assets td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    .vehicle-table-assets th {
        background-color: #4CAF50; 
        color: white; 
    }

    .vehicle-table-assets tr:nth-child(even) {
        background-color: #f9f9f9; 
    }

    .vehicle-table-assets tr:hover {
        background-color: #f1f1f1; 
    }

    /* Printable footer */
    .page-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        text-align: left;
        justify-content: space-between;
        align-items:center;
        padding: 10px;
        background-color: #fff; 
        z-index: 10; 
    }

    .vehicle-item {
        page-break-inside: avoid;
    }

    .printonly .header-text {
        margin-bottom: 40px; 
    }

    .print-header {
        page-break-after: avoid;
    }
}
